@use '/src/scss/index' as *;

.contact {
    &__title {
        text-align: center;
        font-size: 4em;
        font-weight: 400;
        margin: 1em 0 2em;
    }

    .contact-block {
        @include max-width($bp-tablet) {
            flex-direction: column;
        }
    }
}