@use '/src/scss/index' as *;

.footer {
    padding: 1em 2em;
    font-weight: 500;
    @include max-width($bp-tablet) {
        padding: 2em;
    }

    &__logo {
        height: 49px;
        width: 205px;
        margin-left: -19px;
        @include max-width($bp-tablet) {
            margin: 0 auto 1em;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        @include max-width($bp-tablet) {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 2em 3em;
        @include max-width($bp-tablet) {
            gap: 1em;
            padding: 0;
            flex-direction: column;
        }
    }

    &__copyright {
        font-size: 0.8em;
        margin-top: 4em;
    }

    &__column {
        white-space: nowrap;

        li {
            margin-bottom: 1em;

            &:first-of-type {
                @include max-width($bp-tablet) {
                    margin-top: 1em;
                }
            }
        }

        ul {
            max-height: 1000px;
            transition: 1.5s;

            @include max-width($bp-tablet) {
                &.hidden {
                    transition: 1.5s;
                    max-height: 0;
                    opacity: 0;

                    li {
                        display: none;
                    }
                }
            }
        }
    }

    &__socials {
        display: flex;
        flex-direction: row;
        gap: 5px;
        @include max-width($bp-tablet) {
            margin-top: 1em;
        }

        svg {
            width: 35px;
            height: 35px;
            cursor: pointer;
        }

        li:first-of-type {
            margin-top: 0;
        }
    }

    &__dropdown {
        cursor: pointer;
        align-items: center;
        justify-content: space-between;
        display: none;
        @include max-width($bp-tablet) {
            display: flex;
        }

        svg {
            width: 35px;
            height: 35px;
            pointer-events: none;
            transition: .5s;

            &.animate {
                transition: .5s;
                transform: rotateX(180deg);
            }
        }
    }
}