@use '/src/scss/index' as *;

.content {
    padding: 0 6em;
    @include max-width($bp-laptop) {
        padding: 0 2em;
    }

    &__image {
        margin: auto 2em auto 0;
        width: 40%;
        @include max-width($bp-tablet) {
            margin: 0;
            width: 100%;
        }

        &--reverse {
            margin-right: 0;
            margin-left: 2em;
            @include max-width($bp-tablet) {
                margin: 0;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em 0;
        width: 50%;
        margin-left: auto;
        @include max-width($bp-tablet) {
            padding: 2em 0 0;
            width: 100%;

            a {
                text-align: center;
            }
        }

        &--reverse {
            margin-left: initial;
        }
    }

    &__block {
        display: flex;
        margin-top: 5em;
        @include max-width($bp-tablet) {
            flex-direction: column;
            margin-top: 4em;
        }

        &--reverse {
            flex-direction: row-reverse;
            justify-content: space-between;
            @include max-width($bp-tablet) { 
                flex-direction: column;
            }
        }

        &:last-child {
            margin-bottom: 5em;
            @include max-width($bp-tablet) {
                margin-bottom: 4em;
            }
        }
    }

    &__text:not(:last-child) {
        margin-bottom: 1em;
    }

    &__title {
        font-weight: 500;
    }

    &__button {
        @include max-width($bp-tablet) {
            margin: 0 auto;
        }
    }
}