@use '/src/scss/index' as *;

.experience {
    background-color: #e7e7e7;
    padding: 6em;
    @include max-width($bp-tablet) {
        padding: 3em;
    }

    ul {
        display: flex;
        justify-content: space-around;
        text-align: center;
        @include max-width($bp-tablet) {
            flex-direction: column;
            gap: 2em;
        }
    }

    li {
        padding: 0 0.25em;
    }

    &__title {
        font-weight: 400;
        margin-bottom: 0.2em;
    }
}