@use '/src/scss/index' as *;

.account {
    @extend .gray-block__container;
    padding: 0 2em 2em;
    line-height: 25px;
    @include max-width($bp-mobile) {
        padding: 0 10px 2em;
    }

    &__content {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
    }
    
    h1 {
        font-weight: 400;
        margin-bottom: 1em;
    }
}