Dziękujemy {{first_and_last_name}} za dokonanie zakupów w naszej firmie!


Informacje dotyczące zamówienia o numerze {{order_id}}:

Status zamównienia: Oczekiwanie na płatność
Rodzaj płatności: Przelew tradycyjny

_______________________________________________________
Informacje do przelewu:

Tytuł: Zamówienie nr {{order_id}} {{first_and_last_name}}
Numer konta: 66 1010 2298 0000 1098 2212 2928
Dane odbiorcy: Kolarstwo od kuchni
                  Sp. z o.o.
                  NIP: 1122334467
Adres odbiorcy: ul. Akademicka 17,
                   46-100, Gliwice
Kwota do zapłaty: {{sum_of_order}}
_______________________________________________________

Ta wiadomość została wygenerowana automatycznie, prosimy na nią nie odpowiadać.
Jeśli masz jakieś pytania, skontaktuj się z działem obsługi.

Pozdrawiamy,
Kolarstwo od kuchni
