@use '/src/scss/index' as *;

.blog-post {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 6em 6em;
        margin-bottom: 2em;
        @include max-width($bp-tablet) {
            padding: 2em;
        }
    }

    &__title {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
    }

    &__info {
        margin-bottom: 2em;
    }

    &__image {
        max-width: 680px;
        margin-bottom: 5em;
        @include max-width($bp-tablet) {
            margin-bottom: 3em;
        }
    }

    &__wrapper {
        max-width: 60vw;
        line-height: 33px;
        @include max-width($bp-desktop) {
            max-width: 100%;
            line-height: 28px;
        }
    }

    &__content-img {
        margin: 4em 0;
        @include max-width($bp-tablet) {
            margin: 2em 0;
        }
    }
}