@use '/src/scss/index' as *;

.account-settings {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    &__buttons {
        display: flex;
        gap: 1em;
        justify-content: center;
        @include max-width($bp-mobile) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__group {
        @include max-width($bp-tablet) {
            grid-template-columns: 1fr;
        }
    }
}