@use '/src/scss/index' as *;

.account-orders {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 300px;
        overflow: auto;
        padding: 1em 4em;
        margin-bottom: 1em;
        @include max-width($bp-tablet) {
            padding: 1em 10px;
        }
    }

    li {
        letter-spacing: 1px;
        @extend .hover-underline;
    }
}