.item {
    .fAVBsF & {
        user-select: all;
    }

    &__container {
        display: flex;
        flex-direction: column;
        border: 2px solid #E7EDF2;
        max-width: 350px;
    }

    &__content {
        padding: 0.5em;
        font-size: 0.9rem;
    }

    &__title {
        display: -webkit-box;
        font-weight: 500;
        margin-bottom: 0.5em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    img {
        transition: .5s;
        height: 200px;
        object-fit: cover;
    }

    &:hover img {
        opacity: 0.8;
    }
}