@use '/src/scss/index' as *;

.offer {
    flex-grow: 1;

    &__container {
        padding: 2em;
        background: #F0F1F2;
        @include max-width($bp-mobile) {
            font-size: 0.9rem;
            padding: 1em;
        }

        li {
            display: flex;
            margin-bottom: 3em;
        }

        h3 {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        h4 {
            margin-bottom: 2em;
        }

        & + .carousel {
            padding-top: 5em;
        }
    }

    &__icon {
        cursor: pointer;
        position: absolute;
        height: 40px;
        width: 40px;
        right: 10px;
        top: 10px;
        opacity: .6;
        transition: .2s;
        @include max-width($bp-tablet) {
            height: 30px;
            width: 30px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__image {
        position: relative;
        max-width: 25%;
        margin-right: 2em;
        @include max-width($bp-tablet) {
            max-width: 40%;
            margin-right: 1em;
        }
    }

    & + .footer,
    & > .breadcrumbs {
        background: #F0F1F2;
    }
}