@use '/src/scss/index' as *;

.opinion-item {
    padding: 2em;
    max-width: 70%;
    border: 2px solid lightgray;
    @include max-width($bp-mobile) {
        max-width: 100%;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        h3 {
            margin: 0;
        }

        svg {
            min-width: 35px;
            height: 35px;
            margin-right: 10px;
        }
    }

    &__content {
        font-size: 0.9rem;
    }
}