@use '/src/scss/index' as *;

.panel {
    background: #e7e7e7;
    line-height: 22px;
    flex-grow: 1;

    &__container {
        display: flex;
        gap: 1em;        
        justify-content: center;
        padding-bottom: 2em;
        @include max-width($bp-tablet) {
            flex-direction: column;
            padding: 0 2em 2em;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3em 1.5em;
        border: 2px solid #DAE3EA;
        background: #FDFEFF;
        width: 30%;
        @include max-width($bp-tablet) {
            width: auto;
        }

        h2 {
            margin-bottom: 1em;
            text-align: center;
        }

        &--register {
            width: 35%;
            @include max-width($bp-desktop) {
                width: 40%;
            }
            @include max-width($bp-tablet) {
                width: auto;
            }
        }
    }

    &__subtitle {
        margin-bottom: 2em;
        font-size: 1.1em;
    }

    &__button {
        margin: 0 auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 5em;

        li {  
            display: flex;

            img {
                height: 20px;
                width: 20px;
                margin-right: 0.5em;
            }
        }
    }
}
