@use '/src/scss/index' as *;

.steps {
    margin-bottom: 2em;

    ul {
        display: flex;
        justify-content: center;
        @include max-width($bp-tablet) {
            gap: 6px;
            font-size: 0.9rem;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            font-weight: 500;
            white-space: nowrap;

            b {
                position: absolute;
                left: 31px;
                @include max-width($bp-tablet) {
                    left: 13px;
                }
            }

            span {
                margin: 0 1.5em 0 1em;
                font-weight: 600;
                @include max-width($bp-tablet) {
                    display: none;
                }
            }
        }
    }

    &__circle {
        height: 70px;
        width: 70px;
        margin-right: 10px;
        @include max-width($bp-tablet) {
            height: 35px;
            width: 35px;
            margin-right: 6px;
        }
    }

    &__check {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 25px;
        @include max-width($bp-tablet) {
            height: 10px;
            width: 10px;
            left: 13px;
        }
    }
}